configuration{
    modi: "run";
    terminal: "kitty";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-run: " run ";
}

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "/usr/share/rofi/themes/android_notification.rasi"
